<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Students List </title>
</head>

<body>

	<%- include("../nav") %>

		<div style="display: flex;flex-direction: column;font-size: 2rem;">
			sub grids
			<ul>
				<li><a href="student-grid/listStudents">List Of Students</a></li>
				<li><a href="student-grid/attendanceGrid"> Attendance Grid (with search filter) </a></li>
				<li><a href="student-grid/resultGrid"> Result Grid</a></li>
			</ul>
</body>

</html>