<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/html_template_2/main.css">
	<title>Html template 2</title>
</head>

<body>

	<header class="header">
		<div class="headerContainer">
			<div class="headerLeft">
				<img src="/html_template_2/assets/logo-white.png" alt="logo">
			</div>
			<nav class="headerRight">
				<ul class="navUl">
					<li><a href="">Hosting</a></li>
					<li><a href="">integration</a></li>
					<li><a href="">Pricing</a></li>
					<li><a href="">Community</a></li>
					<li>
						<input id="loginBtn" type="button" value="Login">
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="heroSection">
		<div class="heroContainer">
			<div class="heroLeft">
				<div class="heroLeftMainText">
					Hosting services for Your website
				</div>
				<div class="heroLeftBottom">
					<span>Easily and reliable host a website for your business,organization, or project while retaining
						complete control over your site's underlying infrastructure.</span>
					<div class="heroLeftButtonContainer">
						<input class="heroBtn" id="heroBtn1" type="button" value="Get started">
						<input class="heroBtn" type="button" value="Get Migration Help">
					</div>
					<img src="/html_template_2/assets/arrow-down.png" alt="" id="arrowDown">
				</div>
			</div>
			<div class="heroRight">
				<img src="/html_template_2/assets/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
			</div>
		</div>
	</section>

	<section class="partnersSection">
		<div class="partnersContainer">
			<div class="partnerRow">
				<div class="partner">
					<span>Those who Have Experienced the Best Performance</span>
				</div>
				<div class="partner">
					<img src="/html_template_2/assets/Telkom Indonesia Logo.png" alt="">
				</div>
				<div class="partner">
					<img src="/html_template_2/assets/Jetstar Airways Logo.png" alt="">
				</div>
				<div class="partner">
					<img src="/html_template_2/assets/Nescafe Logo.png" alt="">
				</div>
				<div class="partner">
					<img src="/html_template_2/assets/Lenovo Logo.png" alt="">
				</div>
			</div>
	</section>

	<section class="section3">
		<div class="sect3container">
			<div class="sect3Left">
				<img src="/html_template_2/assets/Group 3552.png" alt="">
			</div>
			<div class="sect3Right">
				<div class="sect3RightTitle">
					Boost the speed of your website
				</div>
				<div class="sect3RightCardContainter">
					<div class="sect3Row">
						<div class="sect3Card">
							<span class="sect3CardTitle">Faster Build Process</span>
							<p>We can speed up the process of creating your website</p>
						</div>
						<div class="sect3Card">
							<span class="sect3CardTitle">Faster Delivery</span>
							<p>Our purchases and services can be completed quickly</p>
						</div>
						<div class="sect3Card">
							<span class="sect3CardTitle">Faster Access Speed</span>
							<p>Superb network infrastructure and hardware to support fast and stable acces</p>
						</div>
						<div class="sect3Card">
							<span class="sect3CardTitle">24/7 Faster services</span>
							<p>We have a response time of less than 180 seconds,available 24 hours a day</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>

	<section class="section4">
		<div class="sect4Container">
			<div class="sect4Head">
				<span>
					Host Any Webstite With Our Fully Managed Services
				</span>
			</div>


			<div class="sect4CardContainer">

				<div class="sect4CardRow">
					<div class="sect4Col">
						<div class="sect4Card">
							<div class="sect4CardHead">
								<div class="sect4Tag">
									<span class="sect4TagImg">
										<img src="/html_template_2/assets/cloud-sunny.png" alt="">
									</span>
									<span class="sect4CardTagHead">Cloud Hosting</span>
								</div>
								<div class="sect4Text">
									<p>Cloud hosting is a good fit for those of you who are building personal
										websites,portfolios,blogs and other systems.</p>
								</div>
							</div>
							<div class="sect4PriceTag">
								<span>$5.9</span>/month
							</div>
							<input type="button" value="More detail" class="sect4Btn">
						</div>
					</div>
					<div class="sect4Col">
						<div class="sect4Card">
							<div class="sect4CardHead">
								<div class="sect4Tag">
									<span class="sect4TagImg">
										<img src="/html_template_2/assets/cloud-sunny.png" alt="">
									</span>
									<span class="sect4CardTagHead">Cloud Hosting</span>
								</div>
								<div class="sect4Text">
									<p>Cloud hosting is a good fit for those of you who are building personal
										websites,portfolios,blogs and other systems.</p>
								</div>
							</div>
							<div class="sect4PriceTag">
								<span>$5.9</span>/month
							</div>
							<input type="button" value="More detail" class="sect4Btn">
						</div>
					</div>
					<div class="sect4Col">
						<div class="sect4Card">
							<div class="sect4CardHead">
								<div class="sect4Tag">
									<span class="sect4TagImg">
										<img src="/html_template_2/assets/cloud-sunny.png" alt="">
									</span>
									<span class="sect4CardTagHead">Cloud Hosting</span>
								</div>
								<div class="sect4Text">
									<p>Cloud hosting is a good fit for those of you who are building personal
										websites,portfolios,blogs and other systems.</p>
								</div>
							</div>
							<div class="sect4PriceTag">
								<span>$5.9</span>/month
							</div>
							<input type="button" value="More detail" class="sect4Btn">
						</div>
					</div>
					<div class="sect4Col">
						<div class="sect4Card">
							<div class="sect4CardHead">
								<div class="sect4Tag">
									<span class="sect4TagImg">
										<img src="/html_template_2/assets/cloud-sunny.png" alt="">
									</span>
									<span class="sect4CardTagHead">Cloud Hosting</span>
								</div>
								<div class="sect4Text">
									<p>Cloud hosting is a good fit for those of you who are building personal
										websites,portfolios,blogs and other systems.</p>
								</div>
							</div>
							<div class="sect4PriceTag">
								<span>$5.9</span>/month
							</div>
							<input type="button" value="More detail" class="sect4Btn">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section5">
		<div class="section5Container">
			<div class="section5Left">
				<ul class="section5Ul">
					<li class="sect5Li" id="sect5LiWordpress" onclick="changeSect5Content('sect5Wordpress')">
						<img src="/html_template_2/assets/WordPress.com Logo.png" alt="">
						<span>WordPress</span>
					</li>
					<li class="sect5Li" id="sect5LiMagento" onclick="changeSect5Content('sect5Magento')">
						<img src="/html_template_2/assets/WordPress.com Logo.png" alt="">
						<span>Magento</span>
					</li>
					<li class="sect5Li" id="sect5LiLaravel" onclick="changeSect5Content('sect5Laravel')">
						<img src="/html_template_2/assets/WordPress.com Logo.png" alt="">
						<span>Laravel</span>
					</li>
					<li class="sect5Li" id="sect5LiPhp" onclick="changeSect5Content('sect5Php')">
						<img src="/html_template_2/assets/WordPress.com Logo.png" alt="">
						<span>PHP</span>
					</li>
				</ul>
			</div>

			<div class="section5Right">
				<div class="section5RightContainer activeSect5" id="sect5Wordpress">
					<div class="sect5Text">
						<h2 class="sect5Title">The Best Managed Cloud Hosting for WordPress</h2>
						<p>We live and breath WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud
							server related hassles so you can scale your website the way you want.</p>
					</div>
					<div class="sect5ListContainter">
						<div class="sect5ListRow">
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Unlimited Bandwidth</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Network speed</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Turbo Power</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Xtreme Freedom</span>
							</span>
						</div>
						<input type="button" value="More details" id="sect5Btn">
					</div>
				</div>
				<div class="section5RightContainer" id="sect5Magento">
					<div class="sect5Text">
						<h2 class="sect5Title">The Best Managed Cloud Hosting for Magento</h2>
						<p>We live and breath Magento. Our managed hosting for Magento and WooCommerce takes away cloud
							server related hassles so you can scale your website the way you want.</p>
					</div>
					<div class="sect5ListContainter">
						<div class="sect5ListRow">
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Unlimited Bandwidth</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Network speed</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Turbo Power</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Xtreme Freedom</span>
							</span>
						</div>
						<input type="button" value="More details" id="sect5Btn">
					</div>
				</div>
				<div class="section5RightContainer" id="sect5Laravel">
					<div class="sect5Text">
						<h2 class="sect5Title">The Best Managed Cloud Hosting for Laravel</h2>
						<p>We live and breath Laravel. Our managed hosting for Laravel and WooCommerce takes away cloud
							server related hassles so you can scale your website the way you want.</p>
					</div>
					<div class="sect5ListContainter">
						<div class="sect5ListRow">
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Unlimited Bandwidth</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Network speed</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Turbo Power</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Xtreme Freedom</span>
							</span>
						</div>
						<input type="button" value="More details" id="sect5Btn">
					</div>
				</div>
				<div class="section5RightContainer" id="sect5Php">
					<div class="sect5Text">
						<h2 class="sect5Title">The Best Managed Cloud Hosting for Php</h2>
						<p>We live and breath Php. Our managed hosting for Php and WooCommerce takes away cloud
							server related hassles so you can scale your website the way you want.</p>
					</div>
					<div class="sect5ListContainter">
						<div class="sect5ListRow">
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Unlimited Bandwidth</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Network speed</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Turbo Power</span>
							</span>
							<span class="sect5List">
								<img src="/html_template_2/assets/Vector.png" alt="">
								<span>Xtreme Freedom</span>
							</span>
						</div>
						<input type="button" value="More details" id="sect5Btn">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section6">
		<div class="section6Container">
			<div class="sect6Head">
				<h2 class="sect6Title">How Our Customers Feel About Us</h2>
				<div class="sliderBtnContainer">
					<button class="sliderBtn" id="sliderScrollRightBtn"><img src="/html_template_2/assets/arrow-right.png"
							alt=""></button>
					<button class="sliderBtn" id="sliderScrollLeftBtn"><img src="/html_template_2/assets/arrow-right.png" alt=""
							style="transform: rotate(180deg);"></button>
				</div>
			</div>

			<div class="sect6SliderContainer" id="sliderContainer">
				<div class="sect6SliderRow">
					<div class="sliderCard">
						<div class="sliderCardContainer">
							<img src="/html_template_2/assets/profile.png" alt="" class="sliderImg">
							<div class="starContainer">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
							</div>
							<p class="sliderText">Thanks to the Awan Hoster, I was guided step-by-step until it was
								finished
							</p>
							<span class="sliderCardAuthor">Guy Hawkins</span>
							<span class="sliderCardAuthorPosition">Manager</span>
						</div>
					</div>
					<div class="sliderCard">
						<div class="sliderCardContainer">
							<img src="/html_template_2/assets/profile.png" alt="" class="sliderImg">
							<div class="starContainer">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
							</div>
							<p class="sliderText">Thanks to the Awan Hoster, I was guided step-by-step until it was
								finished
							</p>
							<span class="sliderCardAuthor">Guy Hawkins</span>
							<span class="sliderCardAuthorPosition">Manager</span>
						</div>
					</div>
					<div class="sliderCard">
						<div class="sliderCardContainer">
							<img src="/html_template_2/assets/profile.png" alt="" class="sliderImg">
							<div class="starContainer">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
							</div>
							<p class="sliderText">Thanks to the Awan Hoster, I was guided step-by-step until it was
								finished
							</p>
							<span class="sliderCardAuthor">Guy Hawkins</span>
							<span class="sliderCardAuthorPosition">Manager</span>
						</div>
					</div>
					<div class="sliderCard">
						<div class="sliderCardContainer">
							<img src="/html_template_2/assets/profile.png" alt="" class="sliderImg">
							<div class="starContainer">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
							</div>
							<p class="sliderText">Thanks to the Awan Hoster, I was guided step-by-step until it was
								finished
							</p>
							<span class="sliderCardAuthor">Guy Hawkins</span>
							<span class="sliderCardAuthorPosition">Manager</span>
						</div>
					</div>
					<div class="sliderCard">
						<div class="sliderCardContainer">
							<img src="/html_template_2/assets/profile.png" alt="" class="sliderImg">
							<div class="starContainer">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
							</div>
							<p class="sliderText">Thanks to the Awan Hoster, I was guided step-by-step until it was
								finished
							</p>
							<span class="sliderCardAuthor">Guy Hawkins</span>
							<span class="sliderCardAuthorPosition">Manager</span>
						</div>
					</div>
					<div class="sliderCard">
						<div class="sliderCardContainer">
							<img src="/html_template_2/assets/profile.png" alt="" class="sliderImg">
							<div class="starContainer">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
								<img src="/html_template_2/assets/Star 2.png" alt="">
							</div>
							<p class="sliderText">Thanks to the Awan Hoster, I was guided step-by-step until it was
								finished
							</p>
							<span class="sliderCardAuthor">Guy Hawkins</span>
							<span class="sliderCardAuthorPosition">Manager</span>
						</div>
					</div>

				</div>
			</div>
		</div>

	</section>

	<section class="heroSection">
		<div class="heroContainer">
			<div class="heroLeft sect7Left">
				<div class="sect7LeftText ">
					Try It Now and stop Doubtin Anything Else
				</div>
				<div class="heroLeftBottom ">
					<span>With Awan Hoster's Money back Guarentee, you can try the best service reliablity</span>
					<div class="heroLeftButtonContainer">
						<input class="heroBtn" id="heroBtn2" type="button" value="Start Free trial ">
						<input class="heroBtn" type="button" value="See all Plans">
					</div>
				</div>
			</div>
			<div class="heroRight sect7Right">
				<img src="/html_template_2/assets/Group 1000008788.png" alt="">
			</div>
		</div>
	</section>


	<footer class="footer">
		<div class="footerContainer">
			<div class="footerLeft">
				<img src="/html_template_2/assets/logo-white.png" alt="" id="footerLogo">
				<p id="footerLeftText">We provide you with the best hosting solutions for your website.</p>
				<div class="socialMediaImgContainer">
					<a href=""><img src="/html_template_2/assets/icons8-facebook-50.png" alt=""></a>
					<a href=""><img src="/html_template_2/assets/icons8-twitter-50.png" alt=""></a>
					<a href=""><img src="/html_template_2/assets/icons8-instagram-50.png" alt=""></a>
					<a href=""><img src="/html_template_2/assets/icons8-youtube-50.png" alt=""></a>
					<a href=""><img src="/html_template_2/assets/icons8-facebook-messenger-50.png" alt=""></a>

				</div>
			</div>
			<div class="footerRight">
				<div class="footerRightContainer">
					<div class="footerRightRow">
						<div class="footerRightCol  ">
							<ul>
								<li class="footerColHead">Company</li>
								<li>About</li>
								<li>Blog</li>
								<li>Leadership</li>
								<li>Careers</li>
								<li>Legal</li>
							</ul>
						</div>
						<div class="footerRightCol  ">
							<ul>
								<li class="footerColHead">Products</li>
								<li>API</li>
								<li>Pricing</li>
								<li>Documentation</li>
								<li>Releases Notes</li>
							</ul>
						</div>
						<div class="footerRightCol  ">
							<ul>
								<li class="footerColHead">Contact</li>
								<li>Support</li>
								<li>Sales</li>
								<li>Report Abuse</li>
								<li>System Status</li>
							</ul>
						</div>
					</div>


				</div>
			</div>
		</div>
	</footer>



	<script src="/html_template_2/script.js"></script>

</body>

</html>