<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <div class="mainContainer">

        <div class="formMainContainer">

            <form action="" id="formNewPassword">

                <table class="inputTable registerTable" id="newPasswordTable">
                    <tr>
                        <td>
                            <legend>Forgot Password</legend>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="password">New Password</label>
                            <input class="reqInput " type="password" name="password" id="password" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="confirmPasssword">Confirm Password</label>
                            <input class="reqInput " type="password" name="confirmPassword" id="confirmPasssword" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="button" value="Reset Password" onclick="sendResetPassword()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="errorMsg"></span>
                        </td>
                        <td>
                            <div id="successMsg" style="font-size: 1.25rem;"></span>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
    <script src="/registerLogin.js"></script>

</body>

</html>