<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    Home Page
    <div style="display: flex;flex-direction: column;">
        <a href="/kukucube" target="_blank">Kuku Cube</a>
        <a href="/dynamictable" target="_blank">Dynamic Table</a>
        <a href="/tictactoe" target="_blank">Tic Tac Toe</a>
        <a href="/eventtable" target="_blank">Event Table</a>
        <a href="/delimiter-search" target="_blank">Delimiter Search</a>
        <a href="/job-application-form" target="_blank">Job application Form</a>


    </div>
    <script src="/index.js"></script>
</body>
</html>