<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        ul li{
            padding: 0.5rem;
            border: 1px solid black;
            width: 50%;
            list-style: none;
            margin: 0.7rem;
            box-shadow: 2px 2px 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        ul li a{
            padding: 0.5rem;
        }
       
    </style>
</head>

<body>
    <div style="display: flex;flex-direction: column;font-size: 1.3rem;">
        Tasks
        <ul>
            <li><a href="/kukucube" target="_blank">Kuku Cube</a></li>
            <li><a href="/dynamictable" target="_blank">Dynamic Table</a></li>
            <li><a href="/tictactoe" target="_blank">Tic Tac Toe</a></li>
            <li><a href="/eventtable" target="_blank">Event Table</a></li>
            <li><a href="/numbersorting" target="_blank">Number sorting</a></li>
            <li><a href="/delimiter-search" target="_blank">Delimiter Search</a></li>
            <li><a href="/dynamic-grid" target="_blank">Dynamic Grid</a></li>
            <li><a href="/student-grid" target="_blank">Student Grid(result,attendace,student list)</a></li>
            <li><a href="/job-application-form" target="_blank">Job application Form</a></li>
            <li><a href="/multistep-jobapp" target="_blank">Multi Step Job Application</a></li>
            <li><a href="/fetch-posts" target="_blank">Fetch Posts</a></li>
            <li><a href="/html-template-1" target="_blank">Html Template 1</a></li>
            <li><a href="/html-template-2" target="_blank">Html Template 2</a></li>
            <li><a href="/html-template-3" target="_blank">Html Template 3</a></li>
        </ul>

        

    </div>
    <script src="/index.js"></script>
</body>
</html>