<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Html template 3</title>
	<link rel="stylesheet" href="/html_template_3/main.css">
</head>

<body>
	<header class="header">
		<div class="headerContainer">
			<div class="headerLeft">
				<img src="/html_template_3/assets/HireX_black.png" alt="" srcset="">
			</div>
			<nav class="headerRight">
				<ul class="navUl">
					<li><a href="">Works</a></li>
					<li><a href="">About us</a></li>
					<li><a href="">Blogs</a></li>
					<li><a href="">FAQs</a></li>
					<li><a href="">Contact us</a></li>
					<li>
						<button id="navBtn">
							We're Hiring
							<img src="/html_template_3/assets/arrow-right.svg" alt="" srcset="">
						</button>
					</li>
				</ul>
			</nav>
		</div>
	</header>


	<section class="sect">
		<div class="heroContainer">
			<div class="heroLeft">
				<div class="heroUpperTagContainer">
					<span class="heroLeftUpperTag">WELCOME TO HIREX.</span>
					<span><img src="/html_template_3/assets/Star 1.png" alt=""></span>
				</div>
				<div class="heroTitle">
					Award Winning Digital Agency.
				</div>
				<p class="heroP">
					Digital Agency offering unique solutions to create digital presence and increase your sales.
				</p>
				<form class="heroForm">
					<input id="heroEmail" type="email" name="" id="" placeholder="Your email  address">
					<input id="heroSubmitBtn" type="submit" value="Request access">
				</form>

				<div class="heroLeftLowerTag">Open account and get 5 boxes</div>

			</div>
			<div class="heroRight">
				<div class="heroRightContainer">
					<div class="heroWebDesign">
						<img src="/html_template_3/assets/image 2 (Traced).png " alt="" id="heroWebDesignImg">
						<span id="heroWebDesignSpan">Web Design</span>
					</div>
					<div class="heroSocialMedia">
						<img src="/html_template_3/assets/image 6 (Traced).png" alt="" id="heroSocialMediaImg">
						<span id="heroSocialMediaSpan">Social Media</span>

					</div>
					<div class="heroUX">
						<img src="/html_template_3/assets/image 1 (Traced).png" alt="" id="heroUxImg">
						<span id="heroUxSpan">UIX Design</span>
					</div>
					<div class="heroNew">
						<img src="/html_template_3/assets/Group 6.png" alt="" id="heroNewImg">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="sectionBanner">
		<div class="bannerMainContainer">

			<div class="bannerRow">
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText"> GET ACCESS NOW!</span>
						<img src="/html_template_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
						<img src="/html_template_3/assets/Line 4.png" alt="" class="bannerLine">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText"> GET ACCESS NOW!</span>
						<img src="/html_template_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
						<img src="/html_template_3/assets/Line 6.png" alt="" class="bannerLine">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText"> GET ACCESS NOW!</span>
						<img src="/html_template_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
						<img src="/html_template_3/assets/Line 4.png" alt="" class="bannerLine">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText"> GET ACCESS NOW!</span>
						<img src="/html_template_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
						<img src="/html_template_3/assets/Line 4.png" alt="" class="bannerLine">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText"> GET ACCESS NOW!</span>
						<img src="/html_template_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
						<img src="/html_template_3/assets/Line 4.png" alt="" class="bannerLine">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText"> GET ACCESS NOW!</span>
						<img src="/html_template_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
						<img src="/html_template_3/assets/Line 4.png" alt="" class="bannerLine">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText"> GET ACCESS NOW!</span>
						<img src="/html_template_3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
						<img src="/html_template_3/assets/Line 4.png" alt="" class="bannerLine">
					</div>
				</div>


			</div>
		</div>

	</section>

	<section class="servicesSection sect">
		<div class="SectionContainer">
			<div class="sectionHead">
				<span id="servicesHeadTag" class="sectionHeadTag">Services</span>
				<h2>How Hirex. Work</h2>
				<p>The awesome people who makes all this possible</p>
			</div>
			<div class="CardContainer">
				<div class="CardRow">
					<div class="servicesCardCol">
						<div class="servicesCard" id="servicesCard1">
							<span class="servicesCardTag">START HERE</span>
							<h2 class="servicesCardHead">Who we are & what we do</h2>
							<img src="/html_template_3/assets/Designer _Flatline 1.png" alt="">
							<button class="servicesCardBtn"> START HERE <img src="/html_template_3/assets/arrow-right.svg"
									alt=""></button>
						</div>
					</div>
					<div class="servicesCardCol">
						<div class="servicesCard" id="servicesCard2">
							<span class="servicesCardTag">CUSTOM DESIGN</span>
							<h2 class="servicesCardHead">We'll design your projects</h2>
							<img src="/html_template_3/assets/Notifications_Flatline 1.png" alt="">
							<button class="servicesCardBtn"> START HERE <img src="/html_template_3/assets/arrow-right-black.svg"
									alt=""></button>
						</div>
					</div>
					<div class="servicesCardCol">
						<div class="servicesCard" id="servicesCard3">
							<span class="servicesCardTag">CONTACT US</span>
							<h2 class="servicesCardHead">Drop us your messages!</h2>
							<img src="/html_template_3/assets/Fortnite_Two Color 1.png" alt="">
							<button class="servicesCardBtn"> START HERE <img src="/html_template_3/assets/arrow-right-black.svg"
									alt=""></button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="workSection sect">
		<div class="SectionContainer">
			<div class="sectionHead">
				<span id="worksHeadTag" class="sectionHeadTag">Works</span>
				<h2>Find our latest Works</h2>
				<p>The awesome people who makes all this possible</p>
			</div>
			<div class="CardContainer">
				<div class="CardRow worksCardRow">
					<div class="worksCardCol">
						<div class="worksCard">
							<img src="/html_template_3/assets/Rectangle 13.png" id="worksCardImg1" alt="" srcset="">
							<div class="worksCardBottomContainer">
								<span class="worksCardTag">Web design</span>
								<span class="worksCardTitle">Website Design For Digital Agency</span>
								<p class="worksCardP">Build a unique Website with HireX Template</p>
								<span class="worksCardReadMore">Read more <img src="/html_template_3/assets/arrow-right-black.png"
										alt=""></span>
							</div>
						</div>
					</div>
					<div class="worksCardCol">
						<div class="worksCard ">
							<img src="/html_template_3/assets/Rectangle 13-1.png" id="worksCardImg2" alt="" srcset="">
							<div class="worksCardBottomContainer">
								<span class="worksCardTag">Web design</span>
								<span class="worksCardTitle">Website Design For Digital Agency</span>
								<p class="worksCardP">Build a unique Website with HireX Template</p>
								<span class="worksCardReadMore">Read more <img src="/html_template_3/assets/arrow-right-black.png"
										alt=""></span>
							</div>
							<div class="worksCardButtonContainer">
								<button id="workCardButtonViewAll">View All <img src="/html_template_3/assets/arrow-right-black.svg"
										alt=""></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


	<section class="priceSection sect">
		<div class="SectionContainer">
			<div class="sectionHead">
				<h2>Plans & Pricing </h2>
				<p>The awesome people who makes all this possible</p>
			</div>
			<div class="CardContainer priceCardContainer">
				<div class="CardRow priceCardRow">
					<div class="priceCardCol">
						<div class="priceCard">
							<span class="priceCardTitle">FREE</span>
							<h3><span class="priceSpan">$0</span>/month</h3>
							<p>Start free while you learn more about our services</p>
							<hr>
							<ul class="priceCardUl">
								<li>Free forever get the basic essentials</li>
								<li>Free forever get the basic essentials</li>
								<li>Advanced security and performance</li>
								<li>Unlimited unhosted sites</li>
								<li>Live support</li>
							</ul>
							<input type="button" value="GET STARTED" class="priceCardBtn" id="priceFreeBtn">
						</div>
					</div>
					<div class="priceCardCol">
						<div class="priceCard">
							<span class="priceCardTitle">BASIC</span>
							<h3><span class="priceSpan">$19</span>/month</h3>
							<p>Start free while you learn more about our services</p>
							<hr>
							<ul class="priceCardUl">
								<li>Free forever get the basic essentials</li>

								<li>Free forever get the basic essentials</li>
								<li>Advanced security and performance</li>
								<li>Unlimited unhosted sites</li>
								<li>Live support</li>
							</ul>
							<input type="button" value="GET STARTED" class="priceCardBtn" id="priceBasicBtn">
						</div>
					</div>
					<div class="priceCardCol">
						<div class="priceCard">
							<span class="priceCardTitle">PRO</span>
							<h3><span class="priceSpan">$99</span>/month</h3>
							<p>Start free while you learn more about our services</p>
							<hr>
							<ul class="priceCardUl">
								<li>Free forever get the basic essentials</li>

								<li>Free forever get the basic essentials</li>
								<li>Advanced security and performance</li>
								<li>Unlimited unhosted sites</li>
								<li>Live support</li>
							</ul>
							<input type="button" value="GET STARTED" class="priceCardBtn" id="priceProBtn">
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>

	<section class="sect reviewSection">
		<div class="SectionContainer reviewSectionContainer">
			<div class="nextSlideBtnContainer">
				<button class="slideBtn" id="prevSlideBtn" onclick="moveSlide(-1)"><img
						src="/html_template_3/assets/arrow-left-2.png" alt=""></button>
			</div>
			<div class="reviewContainer activeReviewContainer">
				<div class="reviewLeft">
					<div class="reviewLeftImgContainer">
						<img src="/html_template_3/assets/testimonials-img.png" alt="" id="reviewRightImg">
						<div class="reviewLeftImgTag">
							<span>@mase.place</span>
							<div class="arrowContainer">
								<img src="/html_template_3/assets/arrow_top-right.png" alt="" id="reviewArrowImg">
							</div>
						</div>
					</div>
				</div>
				<div class="reviewRight">
					<div class="reviewRightContainer">
						<div class="reviewRightTextContainer">
							<span class="reviewRightHeadText">"We select to practice in Minerva since it is both useful,and
								our clients basically adore it!It has stood the test of time and proceeds"</span>
							<p>Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of
								more than 3.2 million followers on the platfor. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="reviewContainer">
				<div class="reviewLeft">
					<div class="reviewLeftImgContainer">
						<img src="/html_template_3/assets/Designer _Flatline 1.png" alt="" id="reviewRightImg">
						<div class="reviewLeftImgTag">
							<span>@mase.place</span>
							<div class="arrowContainer">
								<img src="/html_template_3/assets/arrow_top-right.png" alt="" id="reviewArrowImg">
							</div>
						</div>
					</div>
				</div>
				<div class="reviewRight">
					<div class="reviewRightContainer">
						<div class="reviewRightTextContainer">
							<span class="reviewRightHeadText">"2We select to practice in Minerva since it is both useful,and
								our clients basically adore it!It has stood the test of time and proceeds"</span>
							<p>Abel Carden is a TikTok personality and lip-sync content creator who has built . </p>
						</div>
					</div>
				</div>
			</div>
			<div class="reviewContainer">
				<div class="reviewLeft">
					<div class="reviewLeftImgContainer">
						<img src="/html_template_3/assets/Fortnite_Two Color 1.png" alt="" id="reviewRightImg">
						<div class="reviewLeftImgTag">
							<span>@mase.place</span>
							<div class="arrowContainer">
								<img src="/html_template_3/assets/arrow_top-right.png" alt="" id="reviewArrowImg">
							</div>
						</div>
					</div>
				</div>
				<div class="reviewRight">
					<div class="reviewRightContainer">
						<div class="reviewRightTextContainer">
							<span class="reviewRightHeadText">"3We select to practice in Minerva since it is both useful,and
								our clients basically adore it!It has stood the test of time and proceeds"</span>
							<p>Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of
								more than 3.2 million followers on the platfor. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="nextSlideBtnContainer">
				<button class="slideBtn" id="nextSlideBtn" onclick="moveSlide(1)"><img
						src="/html_template_3/assets/arrow-right-2.png" alt=""></button>
			</div>
		</div>
	</section>

	<section class="sect blogSection">
		<div class="blogSectionHead">
			<span class="sectionHeadTag blogSectionHeadTag">Blog</span>
			<h2>Stay updated</h2>
		</div>
		<div class="CardContainer blogCardContainer">
			<div class="CardRow blogCardRow">
				<div class="blogCardCol">
					<div class="blogCard">
						<img class="blogCardMainImg" src="/html_template_3/assets/Rectangle 19.png" alt="" srcset="">
						<div class="worksCardBottomContainer">
							<span class="worksCardTag">Web design</span>
							<span class="worksCardTitle">We launch Minerva Template this Week!</span>
							<p class="worksCardP">Build a unique Website with HireX Template</p>
							<span class="worksCardReadMore">Read more <img src="/html_template_3/assets/arrow-right-black.png"
									alt=""></span>
						</div>
					</div>
				</div>
				<div class="blogCardCol">
					<div class="blogCard">
						<img class="blogCardMainImg" src="/html_template_3/assets/Rectangle 20.png" alt="" srcset="">
						<div class="worksCardBottomContainer">
							<span class="worksCardTag">Web design</span>
							<span class="worksCardTitle">Introducing the Non-Code Webflow Guide</span>
							<p class="worksCardP">Build a unique Website with HireX Template</p>
							<span class="worksCardReadMore">Read more <img src="/html_template_3/assets/arrow-right-black.png"
									alt=""></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="sect newsSection">
		<div class="SectionContainer newsSectionContainer">
			<div class="SectionHead newsSectionHead">
				<h2>Get our latest news & updates</h2>
			</div>
			<div class="CardContainer newsCardContainer">
				<div class="CardRow newsCardRow">
					<div class="newsCardCol">
						<form action="">
							<ul class="newsCardColUl">
								<li>
									<input class="newsCardInput" type="text" name="name" placeholder="NAME">
								</li>
								<li>
									<input class="newsCardInput" type="email" name="email" placeholder="EMAIL">
								</li>
								<li class="subscribeLi">
									<input class="subscribeBtn" type="button" value="SUBSCRIBE">
								</li>
							</ul>
						</form>
					</div>
					<div class="newsCardCol">
						<div class="newsCardRightContainer">
							<p>We select to practice in Minerva since it is both useful and commonsense, and our client
								basically adore it</p>
							<span class="bookCallTag">Book a call</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<section class="sectionBanner">
		<div class="bannerMainContainer">
			<div class="bannerRow">
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText2"> THANKS YOU FOR YOUR VISIT!</span>
						<img src="/html_template_3/assets/Line 4.png" alt="">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText2"> THANKS YOU FOR YOUR VISIT!</span>
						<img src="/html_template_3/assets/Group 59.png" alt="" class="bannerLine">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText2"> THANKS YOU FOR YOUR VISIT!</span>
						<img src="/html_template_3/assets/Line 4.png" alt="">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText2"> THANKS YOU FOR YOUR VISIT!</span>
						<img src="/html_template_3/assets/Line 4.png" alt="">
					</div>
				</div>
				<div class="bannerCol">
					<div class="bannerContainer">
						<span class="bannerText2"> THANKS YOU FOR YOUR VISIT!</span>
						<img src="/html_template_3/assets/Line 4.png" alt="">
					</div>
				</div>

			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="SectionContainer footerContainer">
			<div class="footerHead">
				<img src="/html_template_3/assets/HireX_black.png" alt="">
			</div>
			<hr>

			<div class="footeListContainer">
				<div class="footerRow">
					<div class="footerCol">
						<ul class="footerUl">
							<li class="listTitle">Products</li>
							<li>Platform</li>
							<li>Store Overview</li>
							<li>Email Reports</li>
							<li>Portfolio</li>
						</ul>
					</div>
					<div class="footerCol">
						<ul class="footerUl">
							<li class="listTitle">Resources</li>
							<li>Case Studies</li>
							<li>Product Guides</li>
							<li>Reports</li>
							<li>Blog</li>
							<li>FAQ</li>
						</ul>
					</div>
					<div class="footerCol">
						<ul class="footerUl">
							<li class="listTitle">Company</li>
							<li>Careers</li>
							<li>Contact Sales</li>
							<li>Contact Support</li>
						</ul>
					</div>
					<div class="footerCol">
						<ul class="footerUl">
							<li class="listTitle">Partners</li>
							<li>Partner With Us</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="footerBottomContainer">
				<div class="footerBottomLeft">
					<span>Terms and Conditions</span>
					<span>Privacy Policy</span>
				</div>
				<div class="footerBottomRight">
					<span>©HIREX,Inc. 2022</span>
				</div>

			</div>
		</div>

	</footer>

	<script src="/html_template_3/script.js"></script>
</body>

</html>