body {
	background-color: rgb(211, 211, 211);
	text-decoration-color: white;
	font-size: 1rem;

}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 15%;
}

table td {
	border: 2px solid white;
	color: black;
	text-decoration: none;
}

td {
	min-width: fit-content;
	padding: 0.5rem;
	text-align: center;
}

thead {
	background: white;
}

#formSearchId {
	padding: 0.3rem;
	font-size: 1rem;
}

#moreSearch {
	display: flex;
}

.searchBtn {
	padding: 0.4rem;
	border: none;
	background-color: black;
	color: white;
	font-size: 1rem;
	cursor: pointer;
}

.searchBox {
	display: flex;
	flex-direction: column;
	gap: 1rem 1rem;
}

#moreSearch {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 1rem;
}

form input[type=text] {
	padding: 0.3rem;
	font-size: 1rem;
	width: 13rem;
}

#moreSearchContainer {
	display: none;
}

.showMoreSearchContainer {
	display: flex !important;
	flex-direction: column;
	gap: 1rem;
}

.homeLinksContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem 0;
}

.homeLinksContainer input {
	font-size: 2rem;
}

.showMoreTag {
	color: red;
	cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
	border: none;
	width: 1.5rem;
	height: 1.5rem;
}

.paginationControllerMainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 1rem;
	font-size: 1.5rem;
}

a {
	border: 2px solid black;
	padding: 0.5rem;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

a:hover {
	background: black;
	color: white;
}

a:hover .active {
	color: black;
	background: white;
}

.active {
	color: white;
	background: black;
}

.tableHeadTr td {
	padding: 0;
}

.tableHeadTr a {
	text-decoration: none;
	display: flex;
	width: auto;
	justify-content: center;
}

.placeHolder {
	background: black;
	color: white;
	padding: 1rem;
}

thead {
	font-size: 1.1rem;
}

#resultTable td {
	max-width: 10rem;
	text-align: center;
}

.listStudentGrid {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listStudentGrid thead tr {
	box-shadow: 2px 2px 10px;
	font-weight: bold;
}

table td:nth-child(odd) {
	color: black;
	background: rgba(0, 0, 0, 0.071);
}