<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Html template 1</title>
	<link rel="stylesheet" href="/html_template_1/main.css">
</head>

<body>

	<header class="header">
		<div class="navContainer">
			<div class="headerLeft">
				<a href="">
					<img src="/html_template_1/Logo.svg" alt="" srcset="" class="header_image">
				</a>
			</div>
			<nav class="headerRight">
				<ul class="navUl">
					<li><a href="">Home</a></li>
					<li><a href="">Landing </a></li>
					<li><a href="">Pages<span style="font-size: 1.2rem;">⌄</span></a></li>
					<li><a href="">Docs <span style="font-size: 1.2rem;">⌄</span></a></li>
					<li><a href="">Help</a></li>
					<li>
						<input type="button" value="Get it Now " id="navBtn">
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="sectionHero">
		<div class="sectionHeroMainContainer">
			<div class="sectionHeroLeftContainer">
				<img src="/html_template_1/Hero.png" alt="">
			</div>
			<div class="sectionHeroRightContainer">
				<div class="heroTitle">
					<h2>Make your new life happier.</h2>
				</div>
				<div class="heroDesc">
					<p>
						We work with several leading insurance companies to secure insurance coverages tailored to
						meet
						your needs.
					</p>
					<input type="button" value="Get a consultation" id="heroBtn">
				</div>
			</div>
		</div>
	</section>

	<section class="sectionServices">
		<div class="sectionTitle">
			<span id="servicesTag">OUR SERVICES</span>
			<h2>
				Insurance made simple for you
			</h2>
			<p>
				We work with several leading insurance companies to secure insurance covarage tailored to meet your
				needs.
			</p>
		</div>
		<div class="servicesListContainer">
			<ul class="serviceList">
				<li><img src="/html_template_1/accept.png" class="acceptIcon"> Flexible products to make your life easier</li>
				<li><img src="/html_template_1/accept.png" class="acceptIcon">Highsest standards of service</li>
				<li><img src="/html_template_1/accept.png" class="acceptIcon">Fast and reliable Services</li>
			</ul>
		</div>
		<div class="servicesCardContainer">

			<div class="servicesRow">
				<div class="servicesCol">
					<div class="servicesCard">
						<div class="servicesIcon">
							<img src="/html_template_1/Icon_Home.svg" alt="" srcset="">
						</div>
						<div class="serviceText">
							<h3 class="serviceCardTitle">Home insurance</h3>
							<p>Home insurance is type of insurance policy that provides cover for your home.</p>
							<span class="learnMoreTag">Learn more ➔</span>
						</div>
					</div>
				</div>
				<div class="servicesCol">
					<div class="servicesCard">
						<div class="servicesIcon">
							<img src="/html_template_1/Icon_Blood_Donation.svg" alt="" srcset="">
						</div>
						<div class="serviceText">
							<h3 class="serviceCardTitle">Life insurance</h3>
							<p>Helping you bridge gaps in your health care coverage during times of transition.
							</p>
							<span class="learnMoreTag">Learn more ➔</span>
						</div>
					</div>
				</div>
				<div class="servicesCol">
					<div class="servicesCard">
						<div class="servicesIcon">
							<img src="/html_template_1/Icon_Car.svg" alt="" srcset="">
						</div>
						<div class="serviceText">
							<h3 class="serviceCardTitle">Car insurance</h3>
							<p>
								Car insurance is a type of insurance policy that provides cover for your cars.
							</p>
							<span class="learnMoreTag">Learn more ➔</span>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>

	<section class="sectionTips">
		<div class="sectionTitle">
			<span id="servicesTag">OUR TIPS FOR YOU</span>
			<h2>
				Reinventing your protection
			</h2>
			<p>
				We share common trends,strategies ideas, opinions, short & long stories from the team behind
				company.
			</p>
		</div>
		<div class="tipsCardContainer">
			<div class="tipsCard" id="tipsCard1">
				<span class="tipsCardText">How to prevent and protect your family from Carbon monoxide</span>
			</div>
			<div class="tipsCard" id="tipsCard2">
				<span class="tipsCardText">Motherhood is the hardest and best job ever</span>
			</div>
		</div>
	</section>
	<section class="sectionBenefits">
		<div class="benefitCardContainer">
			<div class="benefitCardRow">
				<div class="benefitCardCol">
					<div class="benefitsCard">
						<div class="serviceText">
							<span id="benefitsTag">OUR BENEFITS</span>
							<h3>We're your right insurance advocate</h3>
						</div>
					</div>
				</div>
				<div class="benefitCardCol">
					<div class="benefitsCard">
						<div class="servicesIcon">
							<img src="/html_template_1/Icon_Blood_Donation.svg" alt="" srcset="">
						</div>
						<h5>We have the best prices</h5>
						<p>Our insurance plans offers are priced the same everywhere else.We just make them faster for you
							to find.</p>
					</div>
				</div>
				<div class="benefitCardCol">
					<div class="benefitsCard">
						<div class="servicesIcon">
							<img src="/html_template_1/Icon_Protection.svg" alt="" srcset="">
						</div>
						<h5>We're your insurance advocate</h5>
						<p>We will deal with the insurance companies for you,even after you've bought your plan.</p>
					</div>
				</div>
				<div class="benefitCardCol">
					<div class="benefitsCard">
						<div class="servicesIcon">
							<img src="/html_template_1/Icon_Neutron.svg" alt="" srcset="">
						</div>
						<h5>We're unbiased</h5>
						<p>Our online tools helps you decide what product is best for you.We're here to insurance plan you choose
						</p>
					</div>
				</div>
				<div class="benefitCardCol">
					<div class="benefitsCard">
						<div class="servicesIcon">
							<img src="/html_template_1/Icon_CS.svg" alt="" srcset="">
						</div>
						<h5>We're available 24/7</h5>
						<p>We have your back 24/7 between our online chat function,email and telephone support</p>
					</div>
				</div>
				<div class="benefitCardCol">
					<div class="benefitsCard">
						<div class="servicesIcon">
							<img src="/html_template_1/Icon_Like.svg" alt="" srcset="">
						</div>
						<h5>We make insurance simple</h5>
						<p>We're commited to makking applying for insurance as simple as can be for our customer.</p>
					</div>
				</div>



			</div>
		</div>
	</section>

	<hr>

	<section class="sectionEnd">
		<div class="endCard">
			<div class="endCardImageContainer">
				<img src="/html_template_1/Avatar.png" alt="">
				<img src="/html_template_1/Avatar-1.png" alt="">
				<img src="/html_template_1/Avatar-2.png" alt="">
			</div>
			<div class="endCardText">
				<p><span>Friendly</span> customer support team</p>
			</div>
		</div>
		<div class="endCard">
			<div class="endCardHeadContainer">
				<img src="/html_template_1/Path.svg" alt="" srcset="">
				<h3>Trustpilot</h3>
			</div>
			<div class="starRating">
				<img src="/html_template_1/s.svg" alt="">
				<img src="/html_template_1/s.svg" alt="">
				<img src="/html_template_1/s.svg" alt="">
				<img src="/html_template_1/s.svg" alt="">
				<img src="/html_template_1/s.svg" alt="">
			</div>
			<div class="endCardText">
				<p><span>4.6 out of 5 </span>from 8.6k reviews</p>
			</div>
		</div>
		<div class="endCard">
			<div class="endCardImageContainer">
				<img src="/html_template_1/Icon_Like.svg" alt="" id="likeImg">
			</div>
			<div class="endCardText">
				<p>We're making <span>Insurance as simple as</span>can be</p>
			</div>
		</div>
	</section>


	<footer class="footer">
		<div class="footerContainer">
			<div class="footerLeft">
				<div>
					<img src="/html_template_1/Logo_white.svg" alt="" srcset="">
				</div>
				<div class="serviceText">
					<p>Build a modern and creative website with crealand.</p>
				</div>
				<div class="socialImages">
					<a href=""><img class="networkImage" src="/html_template_1/google_round_icon.png" alt=""></a>
					<a href=""><img class="networkImage" src="/html_template_1/twitter logo_icon.svg" alt=""></a>
					<a href=""><img class="networkImage" src="/html_template_1/instagram logo_icon.png" alt=""></a>
					<a href=""><img class="networkImage" src="/html_template_1/linkedin logo_icon.png" alt=""></a>
					<a href=""><img class="networkImage" src="/html_template_1/youtuble logo_icon.png" alt=""></a>
				</div>
			</div>
			<div class="footerRight">
				<span id="footerMainText">Ready to get insured? Submit your request and hear back as soon as
					tomorrow</span>
				<div class="formContainer">
					<form action="" method="get">
						<input type="email" placeholder="Your email" name="" id="inputEmail">
						<input type="button" value="Get started" id="sendEmailBtn">
					</form>
				</div>
			</div>
		</div>
		<span id="copyrightText">
			Copyright © 2019. Crafted with love.
		</span>
	</footer>


</body>

</html>