<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>index Percentage</title>
</head>
<style>
	td {
		padding: 0.5rem;
		text-align: center;
	}

	tr:nth-child(even) {
		background: lightgray;
	}

	.btn {
		padding: 0.5rem;
		font-size: 1rem;
		background: black;
		color: white;
		border: none;
		border-radius: 10px;
	}

	#idText {
		padding: 0.2rem;
		font-size: 1rem;
	}
</style>

<body>
	<%- include("../nav") %>

		<input type="button" class="btn" value="New Employee" onclick="window.location='/job-application-form/form'">
		<input type="text" name="id" id="idText" placeholder="Enter id for update (ex.id 118) ">
		<input type="button" class="btn" value="Update Employee " onclick="goToUpdate()">


		<table border="2" style="border-collapse: collapse;margin-top: 2rem;">
			<thead>
				<tr>
					<% metaData.forEach((obj)=>{ %>
						<td>
							<%=obj.name%>
						</td>
						<% }) %>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0;i < data.length;i++){ %>
					<tr>
						<% for(var key in data[i]){ %>
							<td>
								<%=data[i][key] %>
							</td>
							<% } %>
								<td>
									<a href="/job-application-form/form?id=<%=data[i]['bDMId'] %>">Update</a>
								</td>
					</tr>
					<% } %>
			</tbody>

		</table>
		<script>
			function goToUpdate() {
				var id = document.getElementById('idText').value;
				window.location = `/job-application-form/form${id ? `?id=${id}` : ''}`
			}
		</script>
</body>

</html>